/* ***** */
/* General styling */
/* ***** */
@font-face{
    font-family: Ubuntu;
    src:url("assets\Ubuntu-Light.ttf")
}
@import "tailwindcss";

@theme{
    --font-Ubuntu: Ubuntu,"sans-serif";
}
.html-el{
@apply box-border m-0 p-0;
}

.body-el{
    @apply font-Ubuntu;
}

/* ***** */
/* Header component styling */
/* ***** */
.Header{
    @apply flex flex-col bg-linear-90 from-white via-gray-50 to-gray-300;
}
/* Head section */

.Head-section{
    @apply flex justify-between items-center mx-10 mb-5;
}
.Head-logo{
    @apply h-25 w-auto;
}
.Search{
    @apply bg-white flex justify-between w-[50%] p-2 rounded-md shadow-xl shadow-gray-900/10;
}
.SearchBar{
    @apply focus:outline-none w-full text-lg text-teal-600 pl-2;
}
.submit-icon{
    @apply text-lg;
}
.submit-icon,.cart-icon, .login-icon, .Nav-link{
    @apply text-teal-600 hover:text-teal-800;
}
.cart-icon, .login-icon{
    @apply text-xl;
}
.Cart{
    @apply flex justify-center items-center gap-5;
}

/* Nav bar */
.Navigation{
@apply ml-10 flex gap-10 h-8;
}
.Nav-link{
@apply text-xl hover:border-b-2 hover:cursor-pointer font-semibold;
}

/* Home.jsx */
.Home-Header{
    @apply text-center text-xl text-teal-700 mt-5;
}

/* ProductList.jsx */
.Product-List{
    @apply grid grid-cols-4 gap-3 place-items-center mt-10 ;
}
.Product-card{
    @apply flex flex-col items-center gap-1 rounded-md bg-linear-145 from-gray-200 via-gray-50 to-gray-300 p-3;
}
.Product-image{
    @apply scale-70;
}
.Product-name{
    @apply text-2xl text-teal-700;
}
.Product-price{
    @apply text-xl font-semibold;
}
.Product-description{
    @apply text-white bg-black hover:bg-teal-700 p-2 rounded-md;
}