/* ***** */
/* General styling */
/* ***** */
@font-face{
    font-family: Ubuntu;
    src:url("assets\Ubuntu-Light.ttf")
}
@import "tailwindcss";

@theme{
    --font-Ubuntu: Ubuntu,"sans-serif";
}
.html-el{
@apply box-border m-0 p-0 overflow-x-hidden;
}

.body-el{
    @apply font-Ubuntu;
}

/* ***** */
/* Header component styling */
/* ***** */
.Header{
    @apply relative w-full flex flex-col bg-linear-90 from-white via-gray-50 to-gray-300;
}
/* Head section */

.Head-section{
    @apply flex flex-col md:flex-row justify-between items-center gap-4 sm:gap-4 md:gap-0 mx-10 mb-5;
}
.Head-img{
    @apply w-full flex justify-between md:w-auto items-center;
}
.mobile-nav, .mobile-nav-open{
    @apply md:hidden text-xl text-teal-600;
}
.mobile-nav-open{
    @apply absolute z-20; 
}
.Head-logo{
    @apply h-25 w-auto;
}
.Search{
    @apply bg-white flex justify-between w-[75%] md:w-[50%] p-2 rounded-md shadow-xl shadow-gray-900/10;
}
.SearchBar{
    @apply focus:outline-none w-full text-lg text-teal-600 pl-2;
}
.icon-div{
    @apply flex justify-center gap-3 items-center;
}
.cross-icon{
    @apply text-gray-700 text-lg;
}
.submit-icon{
    @apply text-lg;
}
.submit-icon,.cart-icon, .login-icon, .Nav-link{
    @apply text-teal-600 hover:text-teal-800;
}
.cart-icon, .login-icon{
    @apply text-xl;
}
.nav-icon-div{
    @apply flex justify-center items-center gap-5;
}
.cart-count-badge{
    @apply text-sm m-2 ;
}
/* Nav bar */
.Navigation{
@apply flex-col justify-center items-center absolute z-10 bg-white w-screen h-screen gap-10 
md:bg-transparent md:flex-row md:justify-start md:items-start md:relative md:ml-10 md:h-8 ;
}
.Nav-link{
@apply text-xl hover:cursor-pointer font-semibold;
}
.active {
    @apply border-b-2 border-teal-700;
}
/* ***** */
/* Home.jsx */
/* ***** */
.Home-Header{
    @apply text-center text-xl text-teal-700 my-10;
}
.Dropdown-div{
    @apply flex gap-1 mx-10;
}
.Filter-Header{
    @apply font-semibold w-40;
}
.Dropdown{
    @apply bg-gray-100 w-30 text-center rounded-md; 
}

/* ***** */
/* ProductList.jsx */
/* ***** */
.Product-List{
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2 place-items-center mt-10 ;
}
.Product-card{
    @apply h-[90%] w-full flex flex-col items-center gap-2 rounded-md bg-linear-145 from-gray-200 via-gray-50 to-gray-300 p-2 hover:scale-105;
}
.Product-image{
    @apply scale-65 h-[50%] w-auto;
}
.Product-name{
    @apply text-base font-semibold text-center break-words text-teal-700 lg:text-left;
}
.Product-price{
    @apply text-xl font-semibold mb-2;
}
.Show-description, .Add-to-cart, .back-btn{
    @apply text-white p-2 rounded-md;
}
.btn-container{
    @apply flex gap-3;
}
.Show-description, .back-btn{
    @apply bg-black border-2 border-teal-600 hover:bg-teal-600;
}
.Add-to-cart{
    @apply  bg-teal-700 border-2 border-teal-900 hover:bg-teal-900;
}
.loadingError,.Loading-para{
@apply font-semibold text-center mt-20;
}
.Loading-para{
    @apply text-orange-400;
}
.loadingError{ 
     /* for Error on fetching data */
    @apply text-red-500 ;
}
/* ***** */
/* ProductDetails.jsx */
/* ***** */
.Product-details{
    @apply w-full flex flex-col md:flex-row gap-20 mt-10;
}
.Desc-image{
    @apply h-auto w-[50%] mx-auto md:mx-0 md:w-[40%] lg:w-[30%];
}
.Product-desc{
    @apply flex flex-col items-center gap-10;
}
.description{
    @apply w-[70%];
}
.span-text{
    @apply font-semibold;
}

/* ***** */
/* NotFound.jsx */
/* ***** */
.Error-Message{
    @apply h-screen flex flex-col gap-10 justify-center items-center;
}
.Error-title{
    @apply text-2xl font-semibold text-teal-700;
}
.Error-para, .Loading-para{
    @apply text-xl;
}

.icon-error{
    @apply text-3xl text-teal-600;
}
.Search-header{
    @apply text-xl my-10 mx-5 text-teal-700;
}

/* ***** */
/* Cart.jsx */
/* ***** */
.Cart-header{
    @apply text-3xl text-center mt-5 text-teal-700 font-semibold;
}
.Cart-btn-container{
    @apply  flex gap-5 justify-center items-center;
}
.clear, .checkout-btn{
    @apply mt-5 p-2  text-white text-lg;
}
.clear{
    @apply bg-teal-600;
}
.checkout-btn{
    @apply bg-red-700;
}
.Cart-container{
    @apply flex flex-col gap-2 justify-center items-center mt-10 ;
}
.Cart-message{
    @apply text-xl text-teal-600;
}
/* ***** */
/* Cart-Item.jsx */
/* ***** */
.Cart-item{
     @apply flex w-full lg:w-[50%] justify-center items-center lg:justify-between p-4 md:p-10 my-2 bg-gray-100 rounded-lg;

}
.Cart-item-image{
  @apply h-15 w-15 lg:h-30 lg:w-30 max-w-[25%] object-contain;

}
.Cart-desc{
    @apply flex flex-col gap-2 items-center ;
}
.Cart-title{
    @apply w-full text-teal-600 text-base lg:text-lg font-semibold break-words text-center lg:text-left;

}
.Cart-qt{
    @apply flex gap-3 items-center text-base lg:text-lg font-bold;
}
.Qt-val{
    @apply flex items-center gap-4 p-2 bg-white rounded-md;
}
.Cart-price{
    @apply text-teal-600 font-semibold;
}
.divider{
    @apply bg-linear-120 from-gray-50 to-gray-100 p-2 rounded-md;
}
/* Checkout page */
.Checkout{
    @apply flex flex-col gap-5 items-center justify-center w-screen h-screen ;
}
.Checkout-text{
    @apply text-red-500 text-2xl text-center;
}

/* Spinner.jsx for lazyload */
.Spinner-div{
    @apply w-screen h-screen flex items-center justify-center;
}
.Spinner-item{
    @apply w-25 h-25 rounded-full border-[15px] border-t-[10px] border-t-amber-200 border-amber-600 animate-spin;
}
